quarkus:
  log:
    level: INFO
    category:
      "se.irori":
        level: DEBUG

  kafka:
    devservices:
      image-name: docker.io/vectorized/redpanda:v22.3.11
      port: 9992
  hibernate-orm:
    log:
      sql: false
    database:
      generation: drop-and-create
    metrics:
      enabled: false
  datasource:
    db-kind: postgresql
    reactive:
      url: postgresql://localhost:5433/dlqman
      max-size: 20
    devservices:
      port: 5433
      db-name: dlqman
    username: quarkus
    password: quarkus
  micrometer:
    binder:
      kafka:
        enabled: true
      vertx:
        enabled: true

dlqman:
  kafka:
    common:
      "bootstrap.servers": localhost:9992
    consumer:
      "group.id": dlqman
      "key.deserializer": org.apache.kafka.common.serialization.ByteArrayDeserializer
      "value.deserializer": org.apache.kafka.common.serialization.ByteArrayDeserializer
      "auto.offset.reset": earliest
      "enable.auto.commit": true
  sources:
    - name: test-source
      description: Test source
      source-topic: dlq-source
      resend-topic: dlq-resend
      match-rules:
        - name: ignore-mine
          priority: 5
          matcher: myheader-my-matcher
          strategy: dismiss
          resend-topic-override: dlq-override
        - name: resend-theirs
          priority: 6
          matcher: myheader-their-matcher
          strategy: resend10s
          resend-topic-override: dlq-override
        - name: sellbergs
          priority: 100
          matcher: all
          strategy: dismiss

  matchers:
    - name: myheader-my-matcher
      class-name: HeaderRegexMatcher
      config:
        headerName: myheader
        regexPattern: my.*
    - name: myheader-their-matcher
      class-name: HeaderRegexMatcher
      config:
        headerName: myheader
        regexPattern: their.*

  dlq-strategies:
    - name: ignore-strategy
      class-name: DismissDLQStrategy
    - name: resend10s
      class-name: SimpleResendDLQStrategy
      config:
        nextWaitDuration: 10000

