quarkus:
  kafka:
    devservices:
      port: 9992
  hibernate-orm:
    database:
      generation: drop-and-create
  datasource:
    db-kind: postgresql
source:
  kafka:
    - bootstrap-servers: localhost:9992
      group-id: group-id
      topics:
        - spring-cloud-dlq-topic